/* navbar.css */

.navbar {
    background-color: rgb(255, 94, 94) !important; 
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

/* Estilo para el enlace activo */
.navbar-nav .nav-item.active .nav-link {
    color: white !important;
}

.navbar-brand img {
    max-width: 40px;
    height: auto;
}