{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es_LA">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arsenal de Sarandí | Estadísticas</title>
</head>

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'stats/styles.css' %}">
</head>
<body>

  <!-- Zona de Banner con lema y escudo -->
  <section class="bannerSection">
    <img src="{% static 'inicio/img/banner3.webp' %}" class="banner" alt="Banner">
    <div class="bannerText">
      <h1 class="lemaText">Estadísticas</h1>
      <div></div>
    </div>
  </section>

  <div id="statsArsenal" v-if="dataReady">
    <!-- Zona de Estadisticas -->
    <section class="statsSection">
      <h1 class="statsTittle">Estadisticas</h1>
      <div class="statsContainer">
        <div class="statsDiv">
          <img src="{% static 'inicio/img/logo.webp' %}" class="logoStats" alt="">
          <div class="statsSubDiv" >
            <h2 class="statsTeam">Arsenal de Sarandí</h3>
              <div id="percents">
                <div style="display: flex; justify-content: space-around; flex-direction: row;">
                  <div class="rateDiv">
                    <p class="rateText">Victorias</p>
                    <h3 class="rate">{{porcGanados}}</h3>
                  </div>
                  <div class="rateDiv">
                    <p class="rateText">Empates</p>
                    <h3 class="rate">{{porcEmpates}}</h3>
                  </div>
                  <div class="rateDiv">
                    <p class="rateText">Derrotas</p>
                    <h3 class="rate">{{porcPerdidos}}</h3>
                  </div>
                </div>
              </div>

              <div style="display: flex;justify-content: space-between;" id="stats">
                <div>
                  <p class="textDiv">Partidos: <span>{{arsenal.pj}}</span></p>
                  <p class="textDiv">Ganados: <span>{{arsenal.pg}}</span></p>
                  <p class="textDiv">Empatados: <span>{{arsenal.pe}}</span></p>
                  <p class="textDiv">Perdidos: <span>{{arsenal.pp}}</span></p>
                </div>
                <div>
                  <p class="textDiv">Goles metidos: <span>{{arsenal.gf}}</span></p>
                  <p class="textDiv">Goles recibidos: <span>{{arsenal.gc}}</span></p>
                  <p class="textDiv">Diferencia de goles: <span>{{arsenal.dif}}</span></p>
                  <p class="textDiv">Puntos: <span>{{arsenal.pts}}</span></p>
                </div>
              </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Zona de tabla -->
    <section>
      <h1 class="tablaTittle">Tabla</h1>
      <table class="tableStats">
        <thead>
          <tr>
            <th style="padding-left: 5px;">Club</th>
            <th>PTS</th> <!-- Puntos -->
            <th>PJ</th> <!-- Partidos jugados -->
            <th>G</th> <!-- Partidos ganados-->
            <th>E</th> <!-- Partidos empatados-->
            <th>P</th> <!-- Partidos perdidos-->
            <th>GF</th> <!-- Goles a favor -->
            <th>GC</th> <!-- Goles en contra -->
            <th>DG</th> <!-- Diferencia de goles -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="(equipo, index) in equipos" :key="index">
            <td>
              <div class="team">
                <p class="position">{{index}}</p>
                <p class="teamName">{{equipo.eq}}</p>
              </div>
            </td>
            <td>{{equipo.pts}}</td>
            <td>{{equipo.pj}}</td>
            <td>{{equipo.pg}}</td>
            <td>{{equipo.pe}}</td>
            <td>{{equipo.pp}}</td>
            <td>{{equipo.gf}}</td>
            <td>{{equipo.gc}}</td>
            <td v-if="equipo.dif>0">+{{equipo.dif.value}}</td>
            <td v-else="equipo.dif<=0">{{equipo.dif}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Zona de partidos-->
  <section class="partidosSection">
    <h1 class="text-center textTable">Lista de Partidos</h1>
    <a href="{% url 'crear_partido' %}" class="btn btn-primary mb-3">Agregar Partido</a>
    <div class="table-responsive">
      <table class="tableStats table-striped">
        <thead>
          <tr>
            <th>Equipo Local</th>
            <th>Equipo Visitante</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          {% for partido in partidos %}
          <tr>
            <td>{{ partido.equipo_local }}</td>
            <td>{{ partido.equipo_visitante }}</td>
            <td>{{ partido.fecha }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  {% endblock %}
</body>

</html>