{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Partido</title>
</head>
{% load static %}
{% block content %}
<div class="form-container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-title text-lg">Agregar Partido</div>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
        <a href="{% url 'partidos' %}">Cancelar</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}